
.crud-list-row, .crud-list-header {
    display: flex;
}
.crud-list-row{
    height: 50px;
}

.crud-list-row .crud-list-item-template-content {
    display: flex;
    flex: 1 0 5em;
}

.crud-list-actions {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 15px;
}

.list-group-header { /* overriding bootstrap's defaults */
    padding-bottom: 5px !important;
    border: none !important;
    font-weight: bold;
}


.led-column {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-right: 15px;
}

.led-green {
    /* margin: 20px auto; */
    width: 12px;
    height: 12px;
    background-color: rgb(134, 199, 4);
    border-radius: 50%;
} 

.led-grey {
    /* margin: 20px auto; */
    width: 12px;
    height: 12px;
    background-color: rgb(134, 147, 158);
    border-radius: 50%;
} 