/* .header-title a:hover,
.header-title a {
    text-decoration: none;
    color: white ;
    font-weight: bold;
}

.header {
    height: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.header .row {
    display: flex;  
    align-items: center; 
} */
